.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-fixed);
    margin: .75rem;
}

.header-container {
    width: 100%;
    height: var(--header-height);
    background: var(--body-color);
    box-shadow: 0 2px 24px var(--shadow-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    border-radius: 1rem;
    transition: background-color .4s;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-self: center;
}

.header-logo #logo-cran {
    position: initial;
    filter: drop-shadow(0 0 12px var(--shadow-color));
}

.header-toggle {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

.header-toggle span {
    content: "";
    position: relative;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: var(--first-color);
    transition: all .3s ease;
}


.header-toggle span:before,
.header-toggle span:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    background: var(--first-color);
    transition: all .3s ease;
}

.header-toggle span:before {
    top: -7.5px;
    width: 22px;
}

.header-toggle span:after {
    bottom: -7.5px;
    width: 25px;
}


.header-toggle:hover span:after,
.header-toggle:hover span:before {
    left: 30%;
}

@media screen and (max-width: 360px) {
    .header-container {
        padding-inline: 1rem;
    }


}

@media screen and (max-width: 1920px) {
    .header {
        margin: 1rem;
        padding-left: 340px;
        transition: padding .4s;
    }

    .header-container {
        height: calc(var(--header-height) + 2rem);
        padding-inline: 2rem;
    }

    .header-logo {
        order: 1;
    }

}