@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --header-height: 3.5rem;


    --first-color: hsl(191, 100%, 63%);
    --title-color: hsl(228, 18%, 96%);
    --text-color: hsl(228, 12%, 61%);
    --body-color: hsl(228, 24%, 16%);
    --shadow-color: hsla(228, 80%, 4%, .3);


    --body-font: "Poppins", system-ui;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .75rem;


    --font-regular: 400;
    --font-semi-bold: 600;


    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and(min-width: 1150px) {
    :root {
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    all: unset;
}

.sidebar-content::-webkit-scrollbar {
    background: hsl(228, 16%, 30%);
}

.sidebar-content::-webkit-scrollbar-thumb {
    background: hsl(228, 16%, 40%);
}

.container {

    margin-inline: 1.5rem;
}

.main {

    padding-top: 5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-fixed);
    margin: .75rem;
}

.header-container {
    width: 100%;
    height: var(--header-height);
    background: var(--body-color);
    box-shadow: 0 2px 24px var(--shadow-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    border-radius: 1rem;
    transition: background-color .4s;
}

.header-logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.header-logo ion-icon {
    font-size: 1.5rem;
    color: var(--first-color);
}

.header-logo span {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.header-toggle {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

.header-toggle span {
    content: "";
    position: relative;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: var(--first-color);
    transition: all .3s ease;
}


.header-toggle span:before,
.header-toggle span:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    background: var(--first-color);
    transition: all .3s ease;
}

.header-toggle span:before {
    top: -7.5px;
    width: 22px;
}

.header-toggle span:after {
    bottom: -7.5px;
    width: 25px;
}


.header-toggle:hover span:after,
.header-toggle:hover span:before {
    left: 30%;
}

.sidebar {
    position: fixed;
    left: -120%;
    top: 0;
    bottom: 0;
    z-index: var(--z-fixed);
    width: 288px;
    background: var(--body-color);
    box-shadow: 2px 0 24px var(--shadow-color);
    padding-block: 1.5rem;
    margin: .75rem;
    border-radius: 1rem;
    transition: left .4s, background-color .4s, width .4s;
}

.sidebar-container,
.sidebar-content {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.sidebar-container {
    height: 100%;
    overflow: hidden;
}

.sidebar-user {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 1rem;
    padding-left: 2rem;
}

.sidebar-img {
    position: relative;
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    justify-items: center;
}



.sidebar-info h3 {
    font-size: var(--normal-font-size);
    color: var(--title-color);
    transition: color .4s;
}

.sidebar-info span {
    font-size: var(--smaller-font-size);
}

.sidebar-content {
    overflow: hidden auto;
}

.sidebar-content::-webkit-scrollbar {
    width: .4rem;
    background: hsl(228, 8%, 85%);
}

.sidebar-content::-webkit-scrollbar-thumb {
    background: hsl(228, 8%, 75%);
}

.sidebar-title {
    width: max-content;
    font-size: var(--tiny-font-size);
    font-weight: var(--font-semi-bold);
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}

.sidebar-list,
.sidebar-actions {
    display: grid;
    row-gap: 1.5rem;
}

.sidebar-link {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 1rem;
    color: var(--text-color);
    padding-left: 2rem;
    transition: color .4s, opacity .4s;
}

.sidebar-link ion-icon {
    font-size: 1.25rem;
}

.sidebar-link span {
    font-weight: var(--font-semi-bold);
}

.sidebar-link:hover {
    color: var(--first-color);
}

.sidebar-actions {
    margin-top: auto;
}

.sidebar-actions button {
    cursor: pointer;
}

.sidebar-theme {
    width: 100%;
    font-size: 1.25rem;
}

.sidebar-theme span {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

.show-sidebar {
    left: 0;
}

.active-link {
    color: var(--first-color);
}

.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 20px;
    background: var(--first-color);
}

@media screen and (max-width: 360px) {
    .header-container {
        padding-inline: 1rem;
    }

    .sidebar {
        width: max-content;
    }

    .sidebar-info,
    .sidebar-link span {
        display: none;
    }

    .sidebar-user,
    .sidebar-list,
    .sidebar-actions {
        justify-content: centerf;
    }

    .sidebar-user,
    .sidebar-link {
        grid-template-columns: max-content;
    }

    .sidebar-user {
        padding: 0;
    }

    .sidebar-link {
        padding-inline: 2rem;
    }

    .sidebar-title {
        padding-inline: .5rem;
        margin-inline: auto;
    }
}

@media screen and (max-width: 1920px) {
    .header {
        margin: 1rem;
        padding-left: 340px;
        transition: padding .4s;
    }

    .header-container {
        height: calc(var(--header-height) + 2rem);
        padding-inline: 2rem;
    }

    .header-logo {
        order: 1;
    }

    .sidebar {
        left: 0;
        width: 316px;
        margin: 1rem;
    }

    .sidebar-info,
    .sidebar-link span {
        transition: opacity .4s;
    }

    .sidebar-user,
    .sidebar-title {
        transition: padding .4s;
    }

    .show-sidebar {
        width: 90px;
    }

    .show-sidebar .sidebar-user {
        padding-left: 1.25rem;
    }

    .show-sidebar .sidebar-title {
        padding-left: 0;
        margin-inline: auto;
    }

    .show-sidebar .sidebar-info,
    .show-sidebar .sidebar-link span {
        opacity: 0;
    }

    .main {
        padding-left: 340px;
        padding-top: 8rem;
        transition: padding .4s;
    }

    .left-pd {
        padding-left: 114px;
    }
}

.content::-webkit-scrollbar {
    border-radius: 1rem;
    height: 5px;
    background: var(--body-color);
}

.content::-webkit-scrollbar-thumb {
    background: var(--shadow-color);
    border-radius: 5rem;
}

.content {
    overflow-x: scroll;
    padding: 1rem;
    height: calc(100vh - (calc(var(--header-height) + 5.6rem)));
    width: 100%;
    border-radius: 1rem;
    background: var(--body-color);
    box-shadow: 0 0 24px var(--shadow-color);
}

.section-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 2.5rem;
    background: var(--shadow-color);
    border-radius: 1rem;
    margin-inline-end: 1.5rem;
    overflow: hidden;
}

.section-header form input {
    width: 16rem;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding-inline: 1rem;
    font-size: 1em;
    color: var(--text-color);
}

.section-header form button {
    width: 4rem;
    background: var(--shadow-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--first-color);
    font-weight: 900;
    font-size: 1.5em;
    transition: all .3s ease;
    cursor: pointer;
}

.section-header form button:hover {
    background: var(--first-color);
    color: var(--body-color);
}

.section-header .section-title {
    width: fit-content;
    position: relative;
    margin: 1rem;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--first-color);
    width: 100%;
    height: 1px;
}


.table {
    width: 100%;
    border-collapse: separate;
    border-radius: .5rem;
    border-spacing: 0 1rem !important;
}

.table th {
    padding-block: 1rem;
    color: white;
    background: transparent;
}

.table thead tr {
    background: transparent;
    box-shadow: 0 1px 0 var(--first-color);

}

.table thead tr th {
    position: relative;
    padding-inline: 1rem;
}

.table thead tr th:not(:last-of-type):after {
    content: "";
    position: absolute;
    width: 2px;
    top: 25%;
    right: 0;
    height: 50%;
    background: var(--first-color);
    opacity: 10%;
}

.table tbody tr {
    margin-inline: 1rem;
    background: var(--shadow-color);
}


.table tbody td {
    margin-block: 1.5rem;
    vertical-align: middle;
    text-align: center;
    height: 5rem;
}

.table tbody td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table tbody td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



.table-action {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    align-items: center;
}

.table-action a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--first-color);
    padding-block: .5rem;
    padding-inline: 1rem;
    background: var(--shadow-color);
    border-radius: .5rem;
    transition: all .3s ease;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
}

.table-action a:hover {
    color: #000;
    background: var(--first-color);
}

.table-action a ion-icon {
    font-size: 1.5rem;
}

.create-animal-form {
    width: 35rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;

}

.form-group:not(.file) {
    border-radius: .5rem;
    width: 35rem;
    height: 4rem;
    margin-bottom: 1rem;
    position: relative;
    background: hsl(240, 28.77%, 14.31%);
    border: 1px solid hsla(240, 17%, 30%, 0.568);
    overflow: hidden;
    box-shadow: 0 2px 14px var(--shadow-color);
}

.form-group:not(.file) label {
    position: absolute;
    color: var(--text-color);
    top: .5rem;
    left: 2%;
    transition: all .3s ease;
    font-size: 1em;
}

.form-group:not(.file):focus-within label {
    top: 0.1rem;
    left: 1%;
    font-size: .75em;
}

.form-group:not(.file) input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding-inline: 1rem;
    padding-block: .5rem;
    color: var(--text-color);
    font-size: 1em;
}

.form-group.file input {
    display: none;
}

.form-group.file label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    height: 10rem;
    color: var(--first-color);
    font-size: 1em;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: var(--shadow-color);
    border: 1px solid hsla(240, 17%, 30%, 0.568);
    box-shadow: 0 2px 14px var(--shadow-color);
}

.form-group.file label ion-icon {
    font-size: 5em;
}

.dropdown {
    width: 35rem;
    position: relative;
    border: 1px solid hsla(240, 17%, 30%, 0.568);
    box-shadow: 0 2px 14px var(--shadow-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(240, 28.77%, 14.31%);
    cursor: pointer;
    border-radius: .5rem;
    padding-inline: 1rem;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: .3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.form-menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: hsl(240, 28.77%, 14.31%);
    border-radius: .5rem;
    position: absolute;
    left: 0;
    top: 3.5rem;
    width: 100%;
    opacity: 0;
    display: none;
    z-index: 1;
    transition: all .3s ease;
}

.form-menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.form-menu li:hover {
    color: var(--first-color);
    background: var(--shadow-color);
}

.form-menu .active {
    color: var(--first-color);
}

.menu-open {
    opacity: 1;
    display: block;
}


::-webkit-calendar-picker-indicator {
    display: none;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-text {
    color: var(--text-color);
    font-family: var(--body-font);
    display: inline-block;

}

.create-animal-form .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.create-animal-form .buttons a,
.create-animal-form .buttons button[type="submit"] {
    width: 45%;
    text-align: center;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    padding-block: .5rem;
    border-radius: .5rem;
    background: var(--shadow-color);
    cursor: pointer;
    transition: all .3s ease;
    color: var(--text-color);
    margin-top: 1rem;
}

.create-animal-form .buttons button[type="submit"] {
    background: var(--first-color);
    color: var(--body-color);
    font-weight: var(--font-semi-bold);
}

.create-animal-form .buttons a:hover,
.create-animal-form .buttons button[type="submit"]:hover {
    transform: scale(1.05)
}

.animal-photo {
    width: 3rem;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
}

.animal-photo:active {
    position: absolute;
    transform: scale(10);
    z-index: var(--z-fixed);

}

.animal-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal-actions form {
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    margin-inline: .3rem;
    overflow: hidden;
}

.animal-actions form button {
    background: var(--shadow-color);
    border-radius: .25rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .3s ease;
    opacity: 50%;

}

.animal-actions form .btn-excluir {
    color: red;

}

.animal-actions form button:hover {
    opacity: 1;
}

.notify {
    position: fixed;
    z-index: 999999;
    top: 1rem;
    right: 0;
    width: 30rem;
    height: 7.5rem;
    display: flex;
    box-shadow: 0 2px 14px var(--shadow-color);
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: var(--shadow-color);
    backdrop-filter: blur(70px);
    border-top: 1px solid var(--shadow-color);
    border-bottom: 1px solid var(--shadow-color);
    border-left: 1px solid var(--shadow-color);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    transition: all .5s ease;
}

.notify-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding-block: .5rem;
    background: var(--shadow-color);
}

.notify-title {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.notify-title h1 {
    font-size: var(--normal-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.notify-title ion-icon {
    color: var(--first-color);
    font-size: large;

}

.notify-close {
    display: grid;
    place-content: center;
    padding: .3rem;
    font-size: 1.5rem;
    transition: color .3s ease;
    cursor: pointer;
}

.notify-close:hover {
    color: red;
}

.notify-content {
    height: 100%;
    width: 100%;
    padding-inline: 1rem;
    overflow-y: scroll;
    display: block;
    text-align: justify;

}

.notify-content::-webkit-scrollbar {
    width: .25rem;
    background: var(--shadow-color);
}

.notify-content::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--title-color);
}